<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Welcome to groopify ultimate pet <%= @member.name %>!</h1>
<p>
  You have been added to our amazing pet battle system.
  your username is: <%= @member.email %>.<br>
</p>
<p>
  To login to the site, just follow this link: <%= @url %>.
</p>
<p>We are glad to have you, have a great day!</p>
</body>
</html>